<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Surat" connectionString="XpoProvider=MSAccess;Provider=Microsoft.ACE.OLEDB.12.0;Mode=Share Deny None;data source=&quot;C:\Users\NR Technology\source\repos\Surat\Surat\Surat.accdb&quot;;Jet OLEDB:Database Password=;" />
    </connectionStrings>
</configuration>